includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    paths:
        - elementor-json-bridge.php
        - uninstall.php
        - includes
    scanFiles:
        - tests/stubs/elementor.php
    tmpDir: .phpstan-cache
